@import './vendors/common';

@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixins';

@import './base/reset';
@import './base/container';

@import './components/media';
@import './components/modal-loc';
@import './components/modal-franchise';

@import './layout/01-header';
@import './layout/02-hero';
@import './layout/03-products';
@import './layout/04-about';
@import './layout/05-advantages';
@import './layout/06-gallery';
@import './layout/07-customer-reviews';
@import './layout/08-contacts';
@import './layout/09-footer';
