:root {
  --background-green-color: #84a178;
  --primary-text-color: #fcfcfc;
  --secondary-title-color: #000000;
  --subtitle-color: #131313;
  --white-color-text: #ffffff;
  --contact-color-text: #d6936d;
  --hero-link-hero-color: #f8d24e;
  --background-button-hover: #0a8817;
  --background-button-static: #f8d24e;
  --background-button-disable: #ababab;
  --main-font-size-12px: 12px;
  
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-duration: 250ms;
}
