<header class="header">
    <div class="container header__container">
      <a class="header__logo" href="./index.html">
        <svg class="header__icon" width="40" height="37">
          <use href="./images/sprite/sprite.svg#icon-Logo"></use>
        </svg>
      </a>
      <nav class="nav">
        <ul class="nav__list mark">
          <li class="nav__item">
            <a href="" class="nav__link underline">Home</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link underline">About us</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link underline">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link underline">Our products</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link underline">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header__btn-wrapper">
        <button class="mobile-menu-open" data-menu-open>
          <svg class="mobile-menu-open__icon" width="20" height="12">
            <use href="./images/sprite/sprite.svg#icon-burger"></use>
          </svg>
        </button>
  
        <button class="header__button">Buy now &nbsp &gt</button>
      </div>
  
      <!-- mobile menu -->
      <div class="mobile-menu" data-menu>
        <div class="container mobile-menu__container">
          <div class="mobile-menu__wrapper">
            <a class="header__logo" href="./index.html">
              <svg class="header__icon" width="40" height="37">
                <use href="./images/sprite/sprite.svg#icon-Logo"></use>
              </svg>
            </a>
  
            <button class="mobile-menu-close" data-menu-close>
              <svg class="mobile-menu-close__icon" width="20" height="20">
                <use href="./images/sprite/sprite.svg#icon-close"></use>
              </svg>
            </button>
          </div>
  
          <nav class="mobile-menu__nav">
            <ul class="mobile-menu__list mark">
              <li class="mobile-menu__item">
                <a href="" class="mobile-menu__link underline">Home</a>
              </li>
              <li class="mobile-menu__item">
                <a href="" class="mobile-menu__link underline">About us</a>
              </li>
              <li class="mobile-menu__item">
                <a href="" class="mobile-menu__link underline">How it’s made?</a>
              </li>
              <li class="mobile-menu__item">
                <a href="" class="mobile-menu__link underline">Our products</a>
              </li>
              <li class="mobile-menu__item">
                <a href="" class="mobile-menu__link underline">Contact</a>
              </li>
            </ul>
          </nav>
          <button class="header__button-mobile">Buy now &nbsp &gt</button>
        </div>
      </div>
    </div>
  </header>
  