<section id="hero" class="hero">
  <div class="container hero__container">
    <div class="hero__box-wrapper">
      <div class="hero__box">
        <div class="hero__box_one">
          <h1 class="hero__title animate__animated animate__bounce">
            ice cream made with <span class="hero__lost-word">passion</span>
          </h1>

          <button class="hero__button">Products</button>
          <a class="hero__link">How it’s made?</a>
        </div>

        <div class="hero__box_two">
          <ul class="hero__list mark">
            <li class="hero__item">
              <p class="hero__how">
                <span class="hero__how-first">16 </span> cafes
              </p>
            </li>
            <li class="hero__item">
              <p class="hero__how">
                <span class="hero__how-first">23 </span> food trucks
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="hero__box-plate">
        <picture>
          <source
            srcset="
              ./images/hero/desktop/ice-cream-plate.png    1x,
              ./images/hero/desktop/ice-cream-plate@2x.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/hero/tablet/ice-cream-plate.png    1x,
              ./images/hero/tablet/ice-cream-plate@2x.png 2x
            "
            media="(max-width: 768px)"
          />
          <img
            src="./images/hero/tablet/ice-cream-plate.png"
            class="hero__animation"
            alt="plate-ice"
            width="152"
            height="152"
          />
        </picture>

        <div class="hero__description-wrapper">
          <p class="hero__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>

          <a class="hero__description-link">
            <svg class="hero__icon" width="40" height="20">
              <use href="./images/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="hero__box-bg">
      <picture class="hero__picture">
        <source
          srcset="
            ./images/hero/desktop/bots.png    1x,
            ./images/hero/desktop/bots@2x.png 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/hero/tablet/bots.png    1x,
            ./images/hero/tablet/bots@2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./images/hero/mobile/bots.png    1x,
            ./images/hero/mobile/bots@2x.png 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="hero__picture-one"
          src="./images/hero/mobile/bots.png"
          alt="decoration"
          width="330"
        />
      </picture>

      <picture class="hero__picture">
        <source
          srcset="
            ./images/hero/desktop/ice-cream.png    1x,
            ./images/hero/desktop/ice-cream@2x.png 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/hero/tablet/ice-cream.png    1x,
            ./images/hero/tablet/ice-cream@2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./images/hero/mobile/ice-cream.png    1x,
            ./images/hero/mobile/ice-cream@2x.png 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="hero__picture-two"
          src="./images/hero/mobile/ice-cream.png"
          alt="ice"
          width="170"
        />
      </picture>
    </div>
  </div>
</section>
