<section class="advantages">
  <h2 class="advantages__title visually-hidden">Advantages</h2>

  <div class="container">
    <h2 class="advantages__title visually-hidden">Advantages</h2>

    <ul class="advantages-list list">
      <li class="advantages-list__item cow">
        <p class="advantages-list__amount">721</p>
        <p class="advantages-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages-list__item weight">
        <p class="advantages-list__amount">16kg</p>
        <p class="advantages-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages-list__item ice-cream">
        <p class="advantages-list__amount">84</p>
        <p class="advantages-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
