
<section class="gallery">
    <div class="gallery-div">
        <div class="gallery-foto container">
            <picture>
                <source srcset="
              ../src/images/gallery/desktop/gallery-ice.jpg    1x,
              ../src/images/gallery/desktop/gallery-ice@2x.jpg 2x
              " media="(min-width: 1200px)" />
                <source srcset="
                          ../src/images/gallery/tablet/gallery-ice.jpg    1x,
                          ../src/images/gallery/tablet/gallery-ice@2x.jpg 2x
                          " media="(min-width: 768px)" />
                <img srcset="
                      ../src/images/gallery/mobile/gallery-ice.jpg    1x,

                      ../src/images/gallery/mobile/gallery-ice@2x.jpg 2x
                      srs = ../src/images/gallery/mobile/gallery-ice.jpg
                      " alt="gallery" loading="lazy" />
            </picture>
        </div>
    </div>

</section>