<section class="gallery">
  <h2 class="visually-hidden">gallery</h2>
  <div class="gallery-div container">
    <picture>
      <source
        srcset="
          ../src/images/gallery/desktop/gallery-ice.jpg    1x,
          ../src/images/gallery/desktop/gallery-ice@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ../src/images/gallery/tablet/gallery-ice.jpg    1x,
          ../src/images/gallery/tablet/gallery-ice@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ../src/images/gallery/mobile/gallery-ice.jpg    1x,
          ../src/images/gallery/mobile/gallery-ice@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <!-- <img src="../src/images/gallery/mobile/gallery-ice.jpg" alt="gallery-foto"/> -->
      <img
        class="img-gallary"
        src="images/gallery/mobile/gallery-ice.jpg"
        alt="gallery"
      />
    </picture>
  </div>
</section>