<section class="customer-reviews">
  <div class="container wrapper-customer-reviews">
    <!-- Slider -->
    <div class="one-time">
      <div>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/reviews/desktop/reviews.jpg    1x,
              ./images/reviews/desktop/reviews@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/tablet/reviews.jpg    1x,
              ./images/reviews/tablet/reviews@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./images/reviews/mobile/reviews.jpg    1x,
              ./images/reviews/mobile/reviews@2x.jpg 2x
            "
          />
          <img
            src="./images/reviews/desktop/reviews.jpg"
            alt="Customer photo"
            loading="lazy"
            class="customer-photo"
          />
        </picture>
        <p class="reviews">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="customer-name">Emily, Los Angeles</p>
      </div>

      <div>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/reviews/desktop/reviews.jpg    1x,
              ./images/reviews/desktop/reviews@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/tablet/reviews.jpg    1x,
              ./images/reviews/tablet/reviews@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./images/reviews/mobile/reviews.jpg    1x,
              ./images/reviews/mobile/reviews@2x.jpg 2x
            "
          />
          <img
            src="./images/reviews/desktop/reviews.jpg"
            alt="Customer photo"
            loading="lazy"
            class="customer-photo"
          />
        </picture>
        <p class="reviews">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="customer-name">Emily, Los Angeles</p>
      </div>

      <div>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/reviews/desktop/reviews.jpg    1x,
              ./images/reviews/desktop/reviews@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/tablet/reviews.jpg    1x,
              ./images/reviews/tablet/reviews@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./images/reviews/mobile/reviews.jpg    1x,
              ./images/reviews/mobile/reviews@2x.jpg 2x
            "
          />
          <img
            src="./images/reviews/desktop/reviews.jpg"
            alt="Customer photo"
            loading="lazy"
            class="customer-photo"
          />
        </picture>
        <p class="reviews">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="customer-name">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
