<div class="ingredients" is-open data-menu>
  <button type="button" class="ingredients-close-btn" data-menu-close>
    <svg width="16" height="16">
      <use href="./images/sprite/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <h2 class="ingredients-product">Chocolate icecream</h2>
  <picture>
    <source srcset="./images/products/mobile/icecream.png 1x" />
    <source srcset="./images/products/mobile/icecream@2x.png 2x" />
    <img src="./images/products/mobile/icecream.png" />
  </picture>
  <ul class="filling-grams">
    <li class="filling-box">
      <p class="grams"></p>
      320
    </li>
    <li class="filling-box">
      <p class="grams"></p>
      4g
    </li>
    <li class="filling-box"><p class="grams">8,2g</p></li>
    <li class="filling-box"><p class="grams">40,4g</p></li>
  </ul>
  <h3 class="filling-title">Ingredients</h3>
  <div>
    <div class="filling-title">
      <p class="filling-suptitle"></p>
      <p class="filling-suptitle"></p>
    </div>
    <div class="filling-title">
      <p class="filling-suptitle"></p>
      <p class="filling-suptitle"></p>
    </div>
    <div class="filling-title">
      <p class="filling-suptitle"></p>
      <p class="filling-suptitle"></p>
    </div>
    <div class="filling-title">
      <p class="filling-suptitle"></p>
      <p class="filling-suptitle"></p>
    </div>
    <div class="filling-title">
      <p class="filling-suptitle"></p>
      <p class="filling-suptitle"></p>
    </div>
    <div class="filling-title">
      <p class="filling-suptitle"></p>
      <p class="filling-suptitle"></p>
    </div>
  </div>
  <form class="filling-contacts">
    <label class="filling-contacts-field"
      ><span class="filling-contacts-field-wrapper"
        ><input
          type="text"
          name="user_name"
          class="modal-form-input"
          required
          pattern="[a-zA-Zа-яА-Я]+"
          minlength="2" /></span
    ></label>
    <label class="filling-contacts-field"
      ><span class="filling-contacts-field-wrapper"
        ><input
          type="tel"
          name="user_phone"
          class="modal-form-input"
          required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx" /></span
    ></label>
    <label class="filling-contacts-field">
      <textarea
        name="user_message"
        class="modal-form-message"
        placeholder="Введите текст"
      ></textarea>
    </label>

    <button type="submit" class="modal-form-submit">Отправить</button>
  </form>
</div>
