<div class="modal-read-more is-hidden" data-reading>
  <button data-reading-close type="button" class="btn-close">
    <svg width="16" height="16">
      <use href="./images/sprite/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <p class="modal-read-more__title">How it’s made?</p>
  <div class="video-imitation">
    <!--<video src=""></video>-->
    <svg class="icon-play" width="36" height="36">
      <use href="./images/sprite/sprite.svg#icon-play"></use>
    </svg>
  </div>
  <p class="modal-read-more__discription">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
