.modal-ingredients {
  position: absolute;
  width: 280px;
  height: 990px;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--primary-text-color);
  border: 2px solid #f8d24e;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 28px 20px;
  margin: 0 auto;
}

.modal-ingredients__close-btn {
  position: absolute;
  top: 28px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  transition: fill var(--timing-duration) var(--timing-function);

  &:hover,
  &:focus {
    fil: var (--subtitle-color);
  }
}

.modal-ingredients__icon-close {
  width: 20px;
  height: 20px;
}

.ingredients-product__list {
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.ingredients-product {
  font-family: 'Seymour One';
  @include font(20px, 400, 28px);
  color: var(--subtitle-color);
}

.ingredients-product__img {
  margin: auto;
  margin-top: 22px;
  //   margin-bottom: 24px;
  padding: 0;
}

.ingredients-grams {
  display: flex;
  justify-content: space-between;
  display: flex;
  gap: 10px;
}

.ingredients-box {
  position: relative;
  //   position: absolute;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  @include font(10px, 400, 12px);
  color: var(--subtitle-color);
}

.ingredients-box__title {
  margin-top: 52px;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  @include font(10px, 400, 12px);
  color: var(--subtitle-color);
}
