// baza

.mark {
    list-style: none;
  }
  
  .underline {
    text-decoration: none;
    font-style: normal;
  }
  
  ul {
    padding: 0;
  }
  
  // do 767
  
  
  
  .nav {
    display: none;
  }
  
  .header__button {
    display: none;
  }
  
  .mobile-menu {
    display: none;
  }
  
  .header__container {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  
  
  .header__icon {
    fill: var(--background-button-static);
  }
  
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  
  .mobile-menu-open__icon {
    fill: var(--primary-text-color);
  }
  
  // vid tablet
  
  @media screen and (min-width: 768px) {
  
    .header__icon {
      width: 48px;
    }
  
    .header__button {
      display: block;
      padding: 12px 33px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include font(14px, 600, 17px);
      border-radius: 10px;
      border: none;
      color: var(--secondary-title-color);
      background-color: var(--background-button-static);
    }
  
    .mobile-menu-open {
      margin-right: 30px;
    }
  
    .header__btn-wrapper {
      display: flex;
    }
  }
  
  // desc
  
  @media screen and (min-width: 1200px) {
  
    .header__icon {
      width: 65px;
    }
  
    .header__container {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  
    .mobile-menu-open {
      display: none;
    }
  
    .nav {
      display: block;
    }
  
    .nav__list {
      display: flex;
      @include font(16px, 700, 19px);
    }
  
    .nav__item:not(:last-child) {
      margin-right: 27px;
    }
  
    .nav__link {
      color: var(--primary-text-color);
      display: block;
      padding-top: 34px;
      padding-bottom: 34px;
      transition: color var(--timing-function);
  
      &:hover,
      &:focus {
        color: var(--secondary-title-color);
      }
    }
  }
  
  // mobile menu
  
  @media screen and (max-width: 1199px) {
    .mobile-menu {
      position: fixed;
    
      width: 100%;
      height: 100%;
      z-index: 30;
      top: 0;
      left: 0;
      background-color: var(--background-green-color);
    }
  
    .mobile-menu__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
    }
  
    .mobile-menu-close {
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 0;
    }
  
    .mobile-menu-close__icon {
      fill: var(--primary-text-color);
    }
  
    .mobile-menu__list {
      text-align: center;
      padding: 0;
    }
  
    .mobile-menu__link {
      @include font(32px, 700, 39px);
      color: var(--primary-text-color);
      display: block;
      transition: color var(--timing-function);
  
      &:hover,
      &:focus {
        color: var(--secondary-title-color);
      }
    }
  
    .mobile-menu__item:not(:last-child) {
      margin-bottom: 32px;
    }
  
    .mobile-menu__item:last-child {
      margin-bottom: 40px;
    }
  
    .header__button-mobile {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 12px 33px;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      padding: 12px 33px;
      @include font(14px, 600, 17px);
      border-radius: 10px;
      border: none;
      color: var(--secondary-title-color);
      background-color: var(--background-button-static);
    }
  
    .mobile-menu.is-open {
      display: block;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
  