@media screen and (max-width: 767px) {
  .hero__box_two,
  .hero__box_three {
    display: none;
  }

  .hero__lost-word {
    @include font(32px, 400, 34px);
  }

  .hero__container {
    min-height: 500px;
  }
}



.hero__title {
  font-family: Seymour One;
  text-transform: uppercase;
  @include font(26px, 400, 32px);
  margin-bottom: 32px;
  color: var(--white-color-text);
}

.hero__button {
  border: 2px solid var(--hero-link-hero-color);
  @include font(8px, 400, 9px);
  color: var(--secondary-title-color);
  border-radius: 8px;
  margin-right: 16px;
  background: transparent;
  padding: 7px 12px;
}

.hero__link {
  @include font(8px, 600, 10px);
  color: var(--hero-link-hero-color);
  text-decoration: underline;
}

.hero__container {
  position: relative;
  overflow: hidden;
}

.hero__picture-one {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

}

.hero__picture-two {
  position: absolute;
  width: 100%;
  transform: translateY(17%);
  bottom: 0;
}

.hero__picture-two {
  text-align: center;
}

.hero__box-plate {
  display: none;
}

@media screen and (max-width: 767px) {
  .hero__box_one {
    padding-top: 50px;
  }
}

.hero__box-bg {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .hero__box-wrapper {
    padding-top: 23px;
    padding-bottom: 14px;
  }

  .hero__box-plate {
    display: block;
    position: relative;
    z-index: 10;
  }

  .hero__title {
    @include font(18px, 400, 22px);
    margin-bottom: 20px;
    max-width: 190px;
  }

  .hero__lost-word {
    @include font(24px, 400, 26px);
  }

  .hero__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .hero__how {
    @include font(8px, 400, 10px);
    max-width: 51px;
    text-align: right;
  }

  .hero__how-first {
    @include font(28px, 900, 34px);
    color: var(--secondary-title-color);
  }

  .hero__description {
    @include font(12px, 400, 17px);
    max-width: 151px;
    text-align: left;
    margin-bottom: 10px;
  }

  .hero__icon {
    fill: var(--primary-text-color);
  }

  .hero__link {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .hero__box {
    display: flex;
    justify-content: space-between;
  }

  .hero__box_one {
    margin-bottom: 56px;
  }

  .hero__box-plate {
    display: flex;
    align-items: center;
  }

  .hero__description-wrapper {
    margin-left: 16px;
  }

  .hero__picture-two {
    max-width: 430px;
    right: 30px;
  }
}

.hero__animation {
  width: 100%;

  animation-name: spin;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__box-wrapper {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .hero__picture-two {
    max-width: 515px;
    right: 90px;
    transform: translateY(13%);
  }

  .hero__description {
    @include font(14px, 400, 20px);
    max-width: 200px;
  }

  .hero__button {
    @include font(14px, 600, 18px);
    border-radius: 8px;
    margin-right: 16px;
    padding: 7px 12px;
  }

  .hero__link {
    @include font(14px, 600, 17px);
  }
}



.hero__picture-one {
    animation-name: flesh;
    animation-duration: 2s;
    animation-timing-function: linear;
   
}

@keyframes flesh {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }