.products {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url('../images/background/mobile/background-about-top.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  @include font(18px, 800, 22px);
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.products-title {
  font-family: 'Seymour One', sans-serif;
  @include font(30px, 400, 38px);
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-top: 18px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 123px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  height: 420px;
  border-radius: 24px;
  margin-top: 164px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 479px),
  screen and (min-resolution: 192dpi) and (max-width: 479px),
  screen and (min-resolution: 2dppx) and (max-width: 479px) {
  .products {
    background-image: url('../images/background/mobile/background-about-top@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .products {
    background-image: url('../images/background/tablet/background-products.jpg');
  }

  .logo {
    @include font(22px, 800, 27px);
  }

  .products-title {
    @include font(34px, 400, 43px);
    margin-top: 12px;
    margin-bottom: 80px;
  }

  .products-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .products-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .card {
    margin-top: 120px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (max-width: 479px),
  screen and (min-resolution: 2dppx) and (max-width: 479px) {
  .products {
    background-image: url('../images/background/tablet/background-products@2x.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .products {
    background-image: url('../images/background/desktop/background-products.jpg');
  }

  .logo {
    @include font(30px, 800, 37px);
  }

  .products-title {
    @include font(36px, 400, 45px);
    letter-spacing: 0.06em;
    margin-top: 12px;
    margin-bottom: 120px;
  }

  .products-list__item {
    flex-basis: calc((50% - 32px) / 2);
  }

  .card {
    margin-top: 183px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (max-width: 1200px),
  screen and (min-resolution: 2dppx) and (max-width: 1200px) {
  .products {
    background-image: url('../images/background/desktop/background-products@2x.jpg');
  }
}

.card-ice-cream {
  background-color: #aec6a5;
}
.card-ice-cream::before {
  position: absolute;
  content: url(../images/products/mobile/ice_cream.png);
  right: calc(50% - 120px);
  top: -25%;
}

.card-ice-coffee {
  background-color: #efd478;
}
.card-ice-coffee::before {
  position: absolute;
  content: url(../images/products/mobile/ice_coffee.png);
  right: calc(50% - 120px);
  top: -25%;
}

.card-milkshakes {
  background-color: #d6936d;
}
.card-milkshakes::before {
  position: absolute;
  content: url(../images/products/mobile/milkshakes.png);
  right: calc(50% - 120px);
  top: -25%;
}

.title {
  @include font(20px, 700, 24px);
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--subtitle-color);
}

.suptitle {
  @include font(14px, 400, 24px);
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--subtitle-color);
  padding: 0;
}

.products-icon {
  background-color: transparent;
  border: none;
  display: block;
  margin: auto;
  margin-bottom: 0px;
  transition: background-color var(--timing-duration)
    cubic-bezier(0.4, 0, 0.2, 1);

  &.icon-arrow-right {
    fill: var(--subtitle-color);
  }
}
