.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about {
    padding-top: 60px;
}

.about__label {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 12px;

    @media screen and (min-width: 1200px) {
        font-size: 30px;
    }
}

.about__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-text-color);

    @media screen and (max-width: 767px) {
        width: 210px;
    }

    @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 1.26;
        letter-spacing: 0.06em;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.25;
        letter-spacing: 0.06em;
        margin-bottom: 82px;
    }
}





.about__content {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
    }
}

.about__image {
    background-image: linear-gradient(180deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7), #D9D9D9);
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);

    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
        width: 278.19px;
        height: 278.19px;
        position: relative;
        display: inline-block;
        border-radius: 140.182px;
    }

    @media screen and (min-width: 768px) {
        width: 330px;
        height: 330px;
        border-radius: 165.879px;
        margin-right: 32px;
        position: relative;
    }

    @media screen and (min-width: 1200px) {
        width: 500px;
        height: 500px;
        border-radius: 250px;
        margin-right: 100px;
        position: relative;
    }
}

.about__foto {
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 21px;
        width: 278.19px;
        height: 278.19px;
    }

    @media screen and (min-width: 768px) {
        position: absolute;
        top: 26px;
        width: 330px;
        height: 330px;
    }

    @media screen and (min-width: 1200px) {
        position: absolute;
        top: 39px;
        width: 500px;
        height: 500px;
    }
}

.about__list-text {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.about__item-text {
    @media screen and (max-width: 767px) {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        max-width: 334px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 463px;
    }
}

.about__production-text {
    font-size: 12px;
    line-height: 1.75;
    letter-spacing: 0.04em;

    color: var(--primary-text-color);

    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        text-align: left;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.76;
    }
}

.about__text-first {
    @media screen and (max-width: 767px) {
        margin-bottom: 4px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 8px;
    }

}

.about__text-second {
    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 8px;
    }
}

.about__text-last {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 48px;
    }
}

.about__btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--secondary-title-color);
    background-color: var(--background-button-static);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 12px 34px;
    min-width: 176px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--background-button-hover);
    }
}

.about__btn-icon {
    margin-left: 16px;
}
